<% if (messages) { %>
  <% if (messages.success) { %>
    <div class="container mt-3">
      <div class="alert alert-success"><%= messages.success[0] %></div>
    </div>
  <% } %>
  <% if (messages.error) { %>
    <div class="container mt-3">
      <div class="alert alert-danger"><%= messages.error[0] %></div>
    </div>
  <% } %>
  <% if (messages.info) { %>
    <div class="container mt-3">
      <div class="alert alert-info"><%= messages.info[0] %></div>
    </div>
  <% } %>
<% } %>
